#wrapper{
	width:970px;
}
#header{
	display:block;
	width:970px;
	height:85px;
}

#buttons{
	width:970px;
	height:30px;
	text-align:right;
}
	#buttons ul{
		display:inline-block;
		margin:0 0 0 0;
		padding-right:10px;
		padding-left:10px;
		border:1px gray solid;
		border-top:none;
		border-radius:2px;
	}
		#buttons ul li{
			display:inline;
		}
		#buttons ul li + li{
			border-left: 1px gray solid;
			padding-left:4px;
			padding-right:4px;
		}
	#buttons h3{
		display:inline-block;
		margin:0 0 0 0;
		margin-right:20px;
		margin-left:15px;
		background-color:blue;
		border-radius:2px;
		}

#logo{
	width:970px;
	height:85px;
}
	#logo img{
		display:inline-block;
		
	}
	#logo h1{
		display:inline-block;
		vertical-align:top;
	}

h2{
	height:45px;
	background-color:blue;
	display:block;
	padding-top:25px;
}

#sidebar{
	display:inline-block;
	width:260px;
	vertical-align:top;
	margin-left:5px;
	margin-right:30px;
}
	#sidebar h1{
		margin-top:50px;
	}
	#sidebar h2{
		text-align:center;
		border-radius:3px;
		padding-top:5px;
		height:25px;
		color:white;
	}
	#sidebar h3{
		text-align:center;
		font-weight:normal;
		margin:0px;
	}

#content{
	display:inline-block;
	width:671px;
}



